apiVersion: apps/v1
kind: Deployment
metadata:
  name: aggregator
spec:
  replicas: 1
  selector:
    matchLabels:
      app: aggregator
  template:
    metadata:
      labels:
        app: aggregator
    spec:
      containers:
        - name: aggregator
          image: esgore/notibolsa-aggregator:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 5002
          env:
            - name: COMMONCRAWL_SERVICE
              value: "http://commoncrawl:5003/process"
            - name: COLCAP_SERVICE
              value: "http://colcap:5001/colcap"
---
apiVersion: v1
kind: Service
metadata:
  name: aggregator
spec:
  type: NodePort
  selector:
    app: aggregator
  ports:
    - port: 5002
      targetPort: 5002
      nodePort: 30082
